.city-selector {
    position: relative;
    width: 100%;
    margin-bottom: 90px;
    width: 100%;
    input {
        position: absolute;
        width: 100%;
        padding: 10px 16px 10px 32px;
        background-color: var(--card-bg-color);
        color: var(--text-color);
        border: none;
        outline: none;  
        border-radius: 20px;
        transition: .1s;
        &::placeholder {
            color: var(--text-color);
        }
        &:focus {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
    svg {
     position: absolute;
     top: 8px;
     left: 10px;
     color: var(--text-color);
     z-index: 2;   
    }
}
.dropdown {
    position: absolute;
    width: 100%;
    top: 35px;
    padding: 4px 20px;
    max-height: 48px;
    color: var(--text-color);
    list-style-type: none;
    overflow-y: auto;
    background-color: var(--card-bg-color);
    // scrollbar styles
    scrollbar-width: thin;       
    scrollbar-color: var(--text-color) transparent; 
    /* webKit browsers (Chrome, Safari, Edge) */
    .dropdown::-webkit-scrollbar {
        width: 6px;      
    }
    .dropdown::-webkit-scrollbar-track {
        background: transparent;  
    }
    .dropdown::-webkit-scrollbar-thumb {
        background-color: var(--text-color);
        border-radius: 3px;
    }
}

@media (max-width: 800px) {
    .city-selector {
        input {
            font-size: 16px;
        }
    }
    .dropdown {
        top: 39px;
    }
}