.data-container {
    padding: 8px;
    width: 100%;
    border-radius: 20px;
    background-color: var(--card-bg-color);
    text {
        fill: var(--text-color);
    }
    polyline {
        stroke: var(--accent-color);
        fill: none;
    }
    circle {
        fill: var(--accent-color);
    }
}