.forecast {
    &-list {
        margin-top: 20px;
        padding: 20px;
        border-radius: 20px;
        background-color: var(--card-bg-color);
        transition: .3s;
        h3 {
            display: flex;
            align-items: center;
            column-gap: 10px;
            padding-bottom: 10px;
            text-transform: uppercase;
            border-bottom: 1px solid rgb(52, 51, 60);
        }
    }
    &-container {
        width: 100%;
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 12px;
        overflow-x: auto;   
        overflow-y: hidden; 
        flex-wrap: nowrap;
        margin-top: 20px;
    }
    &-card {
        padding: 10px 24px;
        flex: 0 0 auto;
        min-width: 120px;
        border-radius: 20px;
        text-align: center;
        transition: .3s;
        cursor: pointer;
        img {
            max-width: 100px;
        }
        &:hover {
            background-color: var(--hover-color);
        }
    }
}